/* color palette from <https://github.com/vuejs/theme> */
:root {
	--vt-c-white: #ffffff;
	--vt-c-white-soft: #f8f8f8;
	--vt-c-white-mute: #f2f2f2;

	--vt-c-black: #181818;
	--vt-c-black-soft: #222222;
	--vt-c-black-mute: #282828;

	--vt-c-indigo: #2c3e50;

	--vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
	--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

	--vt-c-text-light-1: var(--vt-c-indigo);
	--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
	--vt-c-text-dark-1: var(--vt-c-white);
	--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

	/*--------*/

	--gutter-h: 4rem;

	/*--------*/
}

/* semantic color variables for this project */
:root {
	--color-background: var(--vt-c-white);
	--color-background-soft: var(--vt-c-white-soft);
	--color-background-mute: var(--vt-c-white-mute);

	--color-border: var(--vt-c-divider-light-2);
	--color-border-hover: var(--vt-c-divider-light-1);

	--color-heading: var(--vt-c-text-light-1);
	--color-text: var(--vt-c-text-light-1);

	--section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
		--color-background-soft: var(--vt-c-black-soft);
		--color-background-mute: var(--vt-c-black-mute);

		--color-border: var(--vt-c-divider-dark-2);
		--color-border-hover: var(--vt-c-divider-dark-1);

		--color-heading: var(--vt-c-text-dark-1);
		--color-text: var(--vt-c-text-dark-2);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

html {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	line-height: 1.4;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0;
	width: 100vw;
	overflow-x: hidden;
}

.debug {
	border: 1px dashed red;
}

.cols-1 {
	grid-column-end: span 1;
}

.cols-2 {
	grid-column-end: span 2;
}

.cols-3 {
	grid-column-end: span 3;
}

.cols-4 {
	grid-column-end: span 4;
}

.cols-5 {
	grid-column-end: span 5;
}

.cols-6 {
	grid-column-end: span 6;
}

.cols-7 {
	grid-column-end: span 7;
}

.cols-8 {
	grid-column-end: span 8;
}

.cols-9 {
	grid-column-end: span 9;
}

.cols-10 {
	grid-column-end: span 10;
}

.cols-11 {
	grid-column-end: span 11;
}

.cols-12 {
	grid-column-end: span 12;
}

.cols-13 {
	grid-column-end: span 13;
}

.cols-14 {
	grid-column-end: span 14;
}

.cols-15 {
	grid-column-end: span 15;
}

.cols-16 {
	grid-column-end: span 16;
}

@media (max-width: 1920px) {
	.cols-xl-1 {
		grid-column-end: span 1;
	}

	.cols-xl-2 {
		grid-column-end: span 2;
	}

	.cols-xl-3 {
		grid-column-end: span 3;
	}

	.cols-xl-4 {
		grid-column-end: span 4;
	}

	.cols-xl-5 {
		grid-column-end: span 5;
	}

	.cols-xl-6 {
		grid-column-end: span 6;
	}

	.cols-xl-7 {
		grid-column-end: span 7;
	}

	.cols-xl-8 {
		grid-column-end: span 8;
	}

	.cols-xl-9 {
		grid-column-end: span 9;
	}

	.cols-xl-10 {
		grid-column-end: span 10;
	}

	.cols-xl-11 {
		grid-column-end: span 11;
	}

	.cols-xl-12 {
		grid-column-end: span 12;
	}

	.cols-xl-13 {
		grid-column-end: span 13;
	}

	.cols-xl-14 {
		grid-column-end: span 14;
	}

	.cols-xl-15 {
		grid-column-end: span 15;
	}

	.cols-xl-16 {
		grid-column-end: span 16;
	}
}

@media (max-width: 1600px) {
	.cols-l-1 {
		grid-column-end: span 1;
	}

	.cols-l-2 {
		grid-column-end: span 2;
	}

	.cols-l-3 {
		grid-column-end: span 3;
	}

	.cols-l-4 {
		grid-column-end: span 4;
	}

	.cols-l-5 {
		grid-column-end: span 5;
	}

	.cols-l-6 {
		grid-column-end: span 6;
	}

	.cols-l-7 {
		grid-column-end: span 7;
	}

	.cols-l-8 {
		grid-column-end: span 8;
	}

	.cols-l-9 {
		grid-column-end: span 9;
	}

	.cols-l-10 {
		grid-column-end: span 10;
	}

	.cols-l-11 {
		grid-column-end: span 11;
	}

	.cols-l-12 {
		grid-column-end: span 12;
	}

	.cols-l-13 {
		grid-column-end: span 13;
	}

	.cols-l-14 {
		grid-column-end: span 14;
	}

	.cols-l-15 {
		grid-column-end: span 15;
	}

	.cols-l-16 {
		grid-column-end: span 16;
	}
}

@media (max-width: 1024px) {
	.cols-m-1 {
		grid-column-end: span 1;
	}

	.cols-m-2 {
		grid-column-end: span 2;
	}

	.cols-m-3 {
		grid-column-end: span 3;
	}

	.cols-m-4 {
		grid-column-end: span 4;
	}

	.cols-m-5 {
		grid-column-end: span 5;
	}

	.cols-m-6 {
		grid-column-end: span 6;
	}

	.cols-m-7 {
		grid-column-end: span 7;
	}

	.cols-m-8 {
		grid-column-end: span 8;
	}
}

@media (max-width: 768px) {
	.cols-s-1 {
		grid-column-end: span 1;
	}

	.cols-s-2 {
		grid-column-end: span 2;
	}

	.cols-s-3 {
		grid-column-end: span 3;
	}

	.cols-s-4 {
		grid-column-end: span 4;
	}

	.cols-s-5 {
		grid-column-end: span 5;
	}

	.cols-s-6 {
		grid-column-end: span 6;
	}

	.cols-s-7 {
		grid-column-end: span 7;
	}

	.cols-s-8 {
		grid-column-end: span 8;
	}
}

@media (max-width: 400px) {
	.cols-xs-1 {
		grid-column-end: span 1;
	}

	.cols-xs-2 {
		grid-column-end: span 2;
	}

	.cols-xs-3 {
		grid-column-end: span 3;
	}

	.cols-xs-4 {
		grid-column-end: span 4;
	}

	.cols-xs-5 {
		grid-column-end: span 5;
	}

	.cols-xs-6 {
		grid-column-end: span 6;
	}

	.cols-xs-7 {
		grid-column-end: span 7;
	}

	.cols-xs-8 {
		grid-column-end: span 8;
	}
}

.start-1 {
	grid-column-start: 1;
}

.start-2 {
	grid-column-start: 2;
}

.start-3 {
	grid-column-start: 3;
}

.start-4 {
	grid-column-start: 4;
}

.start-5 {
	grid-column-start: 5;
}

.start-6 {
	grid-column-start: 6;
}

.start-7 {
	grid-column-start: 7;
}

.start-8 {
	grid-column-start: 8;
}

.start-9 {
	grid-column-start: 9;
}

.start-10 {
	grid-column-start: 10;
}

.start-11 {
	grid-column-start: 11;
}

.start-12 {
	grid-column-start: 12;
}

.start-13 {
	grid-column-start: 13;
}

.start-14 {
	grid-column-start: 14;
}

.start-15 {
	grid-column-start: 15;
}

.start-16 {
	grid-column-start: 16;
}

@media (max-width: 1920px) {
	.start-xl-1 {
		grid-column-start: 1;
	}

	.start-xl-2 {
		grid-column-start: 2;
	}

	.start-xl-3 {
		grid-column-start: 3;
	}

	.start-xl-4 {
		grid-column-start: 4;
	}

	.start-xl-5 {
		grid-column-start: 5;
	}

	.start-xl-6 {
		grid-column-start: 6;
	}

	.start-xl-7 {
		grid-column-start: 7;
	}

	.start-xl-8 {
		grid-column-start: 8;
	}

	.start-xl-9 {
		grid-column-start: 9;
	}

	.start-xl-10 {
		grid-column-start: 10;
	}

	.start-xl-11 {
		grid-column-start: 11;
	}

	.start-xl-12 {
		grid-column-start: 12;
	}

	.start-xl-13 {
		grid-column-start: 13;
	}

	.start-xl-14 {
		grid-column-start: 14;
	}

	.start-xl-15 {
		grid-column-start: 15;
	}

	.start-xl-16 {
		grid-column-start: 16;
	}
}

@media (max-width: 1600px) {
	.start-l-1 {
		grid-column-start: 1;
	}

	.start-l-2 {
		grid-column-start: 2;
	}

	.start-l-3 {
		grid-column-start: 3;
	}

	.start-l-4 {
		grid-column-start: 4;
	}

	.start-l-5 {
		grid-column-start: 5;
	}

	.start-l-6 {
		grid-column-start: 6;
	}

	.start-l-7 {
		grid-column-start: 7;
	}

	.start-l-8 {
		grid-column-start: 8;
	}

	.start-l-9 {
		grid-column-start: 9;
	}

	.start-l-10 {
		grid-column-start: 10;
	}

	.start-l-11 {
		grid-column-start: 11;
	}

	.start-l-12 {
		grid-column-start: 12;
	}

	.start-l-13 {
		grid-column-start: 13;
	}

	.start-l-14 {
		grid-column-start: 14;
	}

	.start-l-15 {
		grid-column-start: 15;
	}

	.start-l-16 {
		grid-column-start: 16;
	}
}

@media (max-width: 1024px) {
	.start-m-1 {
		grid-column-start: 1;
	}

	.start-m-2 {
		grid-column-start: 2;
	}

	.start-m-3 {
		grid-column-start: 3;
	}

	.start-m-4 {
		grid-column-start: 4;
	}

	.start-m-5 {
		grid-column-start: 5;
	}

	.start-m-6 {
		grid-column-start: 6;
	}

	.start-m-7 {
		grid-column-start: 7;
	}

	.start-m-8 {
		grid-column-start: 8;
	}
}

@media (max-width: 768px) {
	.start-s-1 {
		grid-column-start: 1;
	}

	.start-s-2 {
		grid-column-start: 2;
	}

	.start-s-3 {
		grid-column-start: 3;
	}

	.start-s-4 {
		grid-column-start: 4;
	}

	.start-s-5 {
		grid-column-start: 5;
	}

	.start-s-6 {
		grid-column-start: 6;
	}

	.start-s-7 {
		grid-column-start: 7;
	}

	.start-s-8 {
		grid-column-start: 8;
	}
}

@media (max-width: 400px) {
	.start-xs-1 {
		grid-column-start: 1;
	}

	.start-xs-2 {
		grid-column-start: 2;
	}

	.start-xs-3 {
		grid-column-start: 3;
	}

	.start-xs-4 {
		grid-column-start: 4;
	}

	.start-xs-5 {
		grid-column-start: 5;
	}

	.start-xs-6 {
		grid-column-start: 6;
	}

	.start-xs-7 {
		grid-column-start: 7;
	}

	.start-xs-8 {
		grid-column-start: 8;
	}
}
