/* color palette from <https://github.com/vuejs/theme> */
:root {
	--gutter-h: 4rem;
	--scaline-color: rgba(155, 155, 155, 0.2);
	--scaline-cross-color: #9a9a9a;
}

/*
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
		--color-background-soft: var(--vt-c-black-soft);
		--color-background-mute: var(--vt-c-black-mute);

		--color-border: var(--vt-c-divider-dark-2);
		--color-border-hover: var(--vt-c-divider-dark-1);

		--color-heading: var(--vt-c-text-dark-1);
		--color-text: var(--vt-c-text-dark-2);
	}
}
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

html {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	line-height: 1.4;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0;
	width: 100vw;
	overflow-x: hidden;
}

/* debug */
.debug {
	border: 1px dashed red;
}

.grid {
	display: grid;

	grid-template-columns: repeat(16, 1fr);
	grid-row-gap: 0;
	grid-column-gap: 0;
}

@media (max-width: 1600px) {
	.grid {
		grid-template-columns: repeat(16, 1fr);
	}
}

@media (max-width: 1024px) {
	.grid {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media (max-width: 400px) {
	.grid {
		grid-template-columns: repeat(8, 1fr);
	}
}
